PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/littroi_db
JWT_SECRET=littroi_super_secret_jwt_key_2026_production_ready
JWT_EXPIRE=7d
CLIENT_URL=http://localhost:5173

# Email configuration (Optional / Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=hello@littroi.com
EMAIL_RECEIVER=info@littroi.com

# Cloudinary (Optional / Media storage)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
